* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

input {
    font-size: 16px;
    cursor: pointer;
    border: none;
}

fieldset {
    border: none;
}

legend {
    font-size: 16px;
}
