/* OVERALL RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* FORM RESET */

fieldset {
    border: none;
}

legend {
    font-size: 16px;
}

input {
    font-size: 16px;
    cursor: pointer;
    border: none;
}

/* BUTTON RESET */

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

/* LIST RESET */

li {
    list-style: none;
}

/* LINK RESET */

a {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
