/* ----- BUTTON ----- */
.btn {
    background-color: var(--color--light);
    padding-inline: var(--spacing--md);
    padding-block: var(--spacing--sm);
    color: var(--color--dark);
    transform: scale(1);
    transition: all var(--animation-duration--quick) ease-in-out;

    &:hover,
    &:focus {
        background-color: var(--color--dark);
        color: var(--color--light);
    }

    &:active {
        transform: scale(0.9);
    }
}

.btn-dark {
    background-color: var(--color--dark);
    color: var(--color--light);

    &:hover,
    &:focus {
        background-color: var(--color--light);
        color: var(--color--dark);
    }
}

.btn-danger {
    background-color: var(--color--danger);
    color: var(--color--dark);

    &:hover,
    &:focus {
        background-color: var(--color--dark);
        color: var(--color--danger);
    }
}

.btn-warning {
    background-color: var(--color--warning);
    color: var(--color--dark);

    &:hover,
    &:focus {
        background-color: var(--color--dark);
        color: var(--color--warning);
    }
}

.btn-success {
    background-color: var(--color--success);
    color: var(--color--dark);

    &:hover,
    &:focus {
        background-color: var(--color--dark);
        color: var(--color--success);
    }
}

.btn--hollow {
    background-color: transparent;
    border: var(--color--light) solid 1px;
    color: var(--color--light);

    &:hover,
    &:focus {
        background-color: var(--color--light);
        color: var(--color--dark);
    }
}

.btn--round {
    border-radius: var(--border-radius--sm);
}

/* ----- LINK ----- */
.link {
    display: inline-block;
    color: var(--color--dark);
    background-color: transparent;
    text-decoration: underline;
    transform: scale(1);
    transition: all var(--animation-duration--quick) ease-in-out;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: var(--color--light);
        color: var(--color--dark);
    }

    &:active {
        transform: scale(0.9);
    }
}

.link--light {
    color: var(--color--light);
}

/* ----- ADDRESS ----- */
.address {
    font-style: normal;
}

/* ----- TITLE ----- */
.title {
    transform: scale(1);
    transition: all var(--animation-duration--quick) ease-in-out;

    &:hover,
    &:focus {
        transform: scale(0.95);
    }
}

/* ----- BACKGROUND ----- */
.bg--dark {
    background-color: var(--color--dark);
    color: var(--color--light);
}

.bg--danger {
    background-color: var(--color--danger);
    color: var(--color--dark);
}
